// R Ladies branding: #a7a9ac (gray) and #88398a (purple)
// set your custom colors here
$siteBgColorCustom: #FCEEF1;
$sidebarBgColorCustom: #fff;
$textColorCustom: #22071E;
$sidebarTextColorCustom: #77186A;

$headlineColorCustom: #88398a;
$headingColorCustom: #88398a;

$bodyLinkColorCustom: #627354;
$navLinkColorCustom: #77186A;
$sidebarLinkColorCustom: #637354;

$footerTextColorCustom: #706E6C;

$buttonTextColorCustom: #F7F7F4;
$buttonHoverTextColorCustom: #F9F9F8;

$buttonBgColorCustom: #899D78;
$buttonHoverBgColorCustom: #6F825E;

$borderColorCustom: #F9DCE3;
